{% extends 'layout.html' %}

{% block content %}

<div class="container col-md-6 mt-5">
    <div class="row">
        <h2>Delete record</h2>
    </div>
    <hr>
    <div class="row mt-5">
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <h6>You are about to delete then entry : {{ rec.expense_category }} with an amount of {{ rec.expense_amount }} .Please click on delete button to remove. </h6>
            </div>
            <hr>
            <div class="form-group">
                {{form.submit(class="btn btn-primary")}}
            </div>
            
        </form>
        
    </div>
</div>
    

{% endblock %}

