{% extends 'layout.html' %}

{{super()}}
{% block css %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }} ">
{% endblock %}

{% block content %}

    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 info">
            <h1 class="text-center">Hey</h1>
            <p class="text-center"><h3>I am <span class="font-weight-bold">Olugbenga Akindele</span>, 
                a Python and JavaScript enthusiast. Please click on projects menu to explore.</h3></p>
        </div>
    </div>
    
{% endblock %}