{% extends 'layout.html' %}

{% block content %}

    <div class="row mt-5 pt-5">
        
        <div class="col-12 col-sm-8 col-md-6 m-auto">
            <div class="card my-auto mx-auto">
                <div class="card-body border-0 shadow">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg"  width="75" height="100" fill="currentColor" 
                            class = "mx-auto my-3" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </div>
                    {% for message in get_flashed_messages() %}
                        <div class="container alert alert-info">
                            <button type="button" class="close mx-auto" data-dismiss="alert">
                                    {{ message }}
                            </button>
                        </div>
                    {% endfor %} 

                    <form method = "POST" action="">
                        
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{form.email.label (class ="form-label")}} {{ form.email (class="form-control my-2 py-2 placeholder = email") }}
                        </div>
                        <div class="form-group">
                            {{form.password.label (class ="mt-2")}} {{ form.password (class="form-control my-2 py-2 placeholder = password") }}
                        </div>
                        
                        <div class="text-center mt-3">
                            {{ form.submit (class ="btn btn-primary")}}
                        </div>
                        
                    </form>

                    

                </div>
            </div>
            
        </div>
    </div>
   

{% endblock %}