{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <h2>Add a record</h2>
    </div>
        
  
    <div class="row">
        <div class="card">

            <div class="container col-md-6 mt-2 mx-auto">
                {% for message in get_flashed_messages() %}
                    <div class="container alert alert-info">
                        <h6 class="mx-auto">{{ message }}</h6> 
                    
                    </div>
                {% endfor %} 
            </div>
    
            <div class="mt-5 col-md-4 col-sm-12 mx-auto">
                <form method="post">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{form.item.label (class ="form-label")}} {{ form.item(class="form-control my-2 py-2 placeholder = email") }}
                    </div>
                    <div class="form-group">
                        {{form.cate.label (class ="form-label")}} {{ form.cate(class="form-control my-2 py-2 placeholder = email") }}
                    </div>
                    <div class="form-group">
                        {{form.amt.label (class ="form-label")}} {{ form.amt(class="form-control my-2 py-2 placeholder = email") }}
                    </div>
                    <div class="form-group">
                        {{form.date.label (class ="form-label")}} {{ form.date(class="form-control my-2 py-2 placeholder = email") }}
                    </div>
                    <div class="form-group">
                        {{form.comment.label (class ="form-label")}} {{ form.comment(class="form-control my-2 py-2 placeholder = email") }}
                    </div>
                    <div class="form-group mb-2">
                        {{form.submit(class="btn btn-primary")}} <button><a href="{{url_for('expense.edit_expense') }}">Edit Record</a></button>
                    </div>
                    <div class="form-group mb-2">
                       
                    </div>
                </form>
                
            </div>
        </div>   
    </div>
{% endblock %}

{% block js %}
    <script src = "{{url_for('static' ,filename ='js/tracker.js') }}"></script>
{% endblock  %}
