{% extends 'layout.html' %}

{% block content %}

<div class="container col-md-6 mt-5">
    <h2>Add a new record</h2>
    <hr>
    <form class="row g-3" method="post">
        {{ form.hidden_tag() }}
        <div class="form-outline col-md-6">
            {{form.item.label (class ="fw-bold form-label")}} {{ form.item(class="form-control my-2 py-2 placeholder = record type") }}
        </div>

        <div class="form-outline col-md-6">
            {{form.cate.label (class ="fw-bold  form-label")}} {{ form.cate(class="form-control my-2 py-2 placeholder = category") }}
        </div>

        <div class="form-outline col-md-6">
            {{form.amt.label (class ="fw-bold  form-label")}} {{ form.amt(class="form-control my-2 py-2 placeholder = amount") }}
        </div>

        <div class="form-outline col-md-6">
            {{form.date.label (class ="fw-bold  form-label")}} {{ form.date(class="form-control my-2 py-2 placeholder = date") }}
        </div>

        <div class="form-outline col-md-12">
            {{form.comment.label (class ="fw-bold form-label")}} {{ form.comment(class="form-control my-2 py-2 placeholder = email rows=3") }}
        </div>

        <div class="form-outline col-md-2">
            {{form.submit(class="btn btn-primary")}} 
        </div>

    </form>

    <div class="row g-3">
        {% if recent_records  %} 
            <br>
            <hr>
            <h3>List of recent entry</h3>
            <table class="table table-striped">
                <thead>
                    <!-- expense_name, expense_category, expense_amount, expense_date, expense_comment, expense_user_id -->
                    <tr>
                        <th>Record Type</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Comment</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rec in recent_records %}
                        <tr>
                            <td>{{ rec.expense_name }}</td>
                            <td>{{ rec.expense_category }}</td>
                            <td>{{ rec.expense_amount}}</td>
                            <td>{{ rec.expense_date }}</td>
                            <td>{{ rec.expense_comment }}</td>
                            <td class="text-center"><a href="{{url_for('expense.delete_record', rec_id= rec.expense_id) }}" class="text-center"><i class="bi bi-pencil"></i></a></td>
                            <td class="text-center"><a href="{{url_for('expense.delete_record', rec_id= rec.expense_id) }}" class="text-center"><i class="bi bi-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {%  else %} 
            <br>   
            <h6 class="fw-bold">You have no records expense / income records</h6>
        {% endif %}
       
    </div>
  
</div>

     
{% endblock %}

{% block js %}
    <script src = "{{url_for('static' ,filename ='js/tracker.js') }}"></script>
{% endblock  %}
